*{
    box-sizing: border-box;
    font-size: 18px;
}
form{
    background-color: darkseagreen;
}
legend{
    color: darkred;
    font-size: 1.4rem;
    font-weight: bold;
}
p{
    font-weight: 600;
}
label{
    padding-left:40%;
    text-align: center;
}
input{
    margin-bottom: 10px;
}
button{
    margin-left: 40%;
    background-color: darkred;
    color: white;
}